@font-face {
  font-family: "customFont1";
  src: url("./Font/Overpass/Overpass-VariableFont_wght.ttf");
}
/* Start The Form */
body {
  font-family: customFont1;
  margin: 0;
  background-color: hsl(216, 12%, 8%);
  width: 1440px;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
}

main {
  background-color: hsla(213, 20%, 18%, 0.5);
  width: 350px;
  height: 350px;
  padding-top: 30px;
  padding-bottom: 35px;
  padding-right: 30px;
  padding-left: 30px;
  border-radius: 25px;
}

#star-image {
  background-color: hsla(216, 12%, 54%, 0.171);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#ask {
  color: hsl(0, 0%, 100%);
  font-size: 26px;
  font-weight: 700;
  word-spacing: 2px;
  margin-top: 35px;
  margin-bottom: 5px;
}

#explain {
  color: hsl(217, 12%, 63%);
  font-size: 15px;
  line-height: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding-left: 0;
  margin-top: 25px;
  margin-bottom: 10px;
}

li {
  width: 50px;
  height: 50px;
  background-color: hsla(216, 12%, 54%, 0.171);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: hsl(217, 12%, 63%);
  cursor: pointer;
  font-weight: 400;
}

li:hover {
  background-color: hsl(25, 97%, 53%);
  color: hsl(0, 0%, 100%);
}

button {
  width: 350px;
  height: 45px;
  background-color: hsl(25, 97%, 53%);
  border: 0;
  padding: 0;
  border-radius: 30px;
  color: hsl(0, 0%, 100%);
  margin-top: 22px;
  letter-spacing: 1.9px;
  font-size: 15px;
  font-weight: 400;
  cursor: pointer;
  text-transform: uppercase;
}

button:hover {
  background-color: hsl(0, 0%, 100%);
  color: hsl(25, 97%, 53%);
}

/* End The Form */
/* Start The Thank You */
.thank-you {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#thank-image {
  display: none;
  margin-top: 17px;
}

#selected {
  display: none;
  color: hsl(25, 97%, 53%);
  margin-top: 11px;
}

#selected p {
  height: 16px;
  width: 180px;
  background-color: hsla(216, 12%, 54%, 0.171);
  padding: 8px;
  border-radius: 30px;
  font-size: 15px;
  text-align: center;
}

#selected p span {
  margin-right: 2px;
  margin-left: 2px;
}

#thank {
  display: none;
  color: hsl(0, 0%, 100%);
  margin-bottom: 0;
  font-size: 26px;
}

#parag {
  display: none;
  text-align: center;
  color: hsl(217, 12%, 63%);
  font-size: 15px;
  margin-top: 12px;
  margin-bottom: 0;
  padding-right: 3px;
  padding-left: 3px;
  line-height: 1.6;
}

/* End The Thank You */
/* Start Media Query */
@media (max-width: 320px) {
  body {
    width: 320px;
    height: 667px;
  }
  main {
    width: 260px;
    height: 335px;
    padding: 20px;
  }
  #star-image {
    width: 40px;
    height: 40px;
  }
  #star-image img {
    width: 15px;
    height: 15px;
  }
  #explain {
    font-size: 13px;
    line-height: 20px;
  }
  li {
    width: 40px;
    height: 40px;
  }
  button {
    width: 260px;
    height: 40px;
  }
  #selected {
    margin-top: 5px;
  }
  #selected p {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 13px;
  }
  #thank {
    margin-top: 12px;
  }
  #parag {
    margin-top: 10px;
    padding-right: 0;
    padding-left: 0;
  }
  .br {
    display: none;
  }
}
@media (min-width: 321px) {
  body {
    width: 375px;
    height: 667px;
  }
  main {
    width: 290px;
    height: 310px;
    padding: 25px;
    border-radius: 15px;
  }
  #star-image {
    width: 40px;
    height: 40px;
  }
  #star-image img {
    width: 15px;
    height: 15px;
  }
  #ask {
    font-size: 23px;
    font-weight: 700;
    word-spacing: 1px;
    margin-top: 18px;
  }
  #explain {
    font-size: 14px;
    line-height: 22px;
    margin-top: 12px;
  }
  ul {
    margin-top: 27px;
  }
  li {
    width: 40px;
    height: 40px;
    font-weight: 400;
    font-size: 13px;
  }
  button {
    width: 290px;
    height: 45px;
    margin-top: 15px;
    font-size: 13px;
    font-weight: 400;
  }
  #selected {
    margin-top: 5px;
  }
  #selected p {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
  }
  #thank {
    margin-top: 12px;
  }
  #parag {
    margin-top: 10px;
    padding-right: 3px;
    padding-left: 3px;
  }
  .br {
    display: none;
  }
}
@media (min-width: 375px) {
  body {
    width: 480px;
    height: 700px;
  }
  main {
    width: 300px;
    height: 335px;
    padding-top: 30px;
    padding-bottom: 35px;
    padding-right: 30px;
    padding-left: 30px;
  }
  #star-image {
    width: 45px;
    height: 45px;
  }
  #star-image img {
    width: 17px;
    height: 16px;
  }
  #ask {
    font-size: 26px;
    word-spacing: 2px;
    margin-top: 35px;
    margin-bottom: 5px;
  }
  #explain {
    font-size: 15px;
    line-height: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  ul {
    margin-top: 25px;
  }
  li {
    width: 45px;
    height: 45px;
    font-size: 15px;
  }
  button {
    width: 300px;
    height: 45px;
    margin-top: 22px;
    font-size: 15px;
  }
  #selected {
    margin-top: 15px;
  }
  #selected p {
    font-size: 15px;
  }
  #thank {
    margin-top: 15px;
  }
  #parag {
    margin-top: 15px;
  }
  .br {
    display: none;
  }
}
@media (min-width: 480px) {
  body {
    width: 600px;
    height: 750px;
  }
  main {
    width: 310px;
    height: 335px;
  }
  #star-image {
    width: 45px;
    height: 45px;
  }
  li {
    width: 45px;
    height: 45px;
  }
  button {
    width: 310px;
    height: 45px;
  }
}
@media (min-width: 600px) {
  body {
    width: 768px;
    height: 800px;
  }
  main {
    width: 320px;
    height: 345px;
  }
  #star-image {
    width: 50px;
    height: 50px;
  }
  li {
    width: 50px;
    height: 50px;
  }
  button {
    width: 320px;
    height: 45px;
  }
}
@media (min-width: 768px) {
  body {
    width: 900px;
  }
  main {
    width: 330px;
    height: 345px;
  }
  button {
    width: 330px;
    height: 45px;
  }
}
@media (min-width: 900px) {
  body {
    width: 1024px;
  }
  main {
    width: 340px;
    height: 345px;
  }
  button {
    width: 340px;
    height: 45px;
  }
}
@media (min-width: 1024px) {
  body {
    width: 1200px;
  }
  main {
    width: 350px;
    height: 350px;
  }
  button {
    width: 350px;
    height: 45px;
  }
  #parag {
    padding-right: 8px;
    padding-left: 8px;
  }
}
@media (min-width: 1200px) {
  body {
    width: 1440px;
  }
}
/* End Media Query *//*# sourceMappingURL=index.css.map */